{
  "env": {
      "browser": true,
      "es2021": true,
      "node": true
    },
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/recommended",
      "airbnb",
      "airbnb/hooks",
      "airbnb-typescript",
      "prettier"
  ],
"parser": "@typescript-eslint/parser",
"parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "tsconfigRootDir": "/backend",
    "project": "./tsconfig.json"
},
  "plugins": [
      "@typescript-eslint"
  ],
  "rules": {
    "linebreak-style": 0,
    "import/no-unresolved": 0,
    "no-use-before-define": ["error", { "functions": true, "classes": true, "variables": true }],
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "no-underscore-dangle": 0,
    "class-methods-use-this" : 0,
    "no-shadow": 0,
    "@typescript-eslint/no-shadow": ["error"],
    "import/no-mutable-exports" : 0
  }
}