.chat-list-container {
  background-color: #fff;
  height: 80%;
  width: 35%;
  border-radius: 15px;
  overflow: auto;
  transition: all 0.5s;
  position: relative;

  .chat-list-top {
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0%;
    background: white;
    z-index: 2;
    margin: 0 5%;
    padding: 0 5%;
    border-bottom: 1px solid #d1d1d1;

    .chat-list-header {
      @include font-default(500, 1.5rem);
      line-height: 30px;
    }

    .search-icon {
      width: 26px;
    }
  }

  .chat-list {
    display: flex;
    flex-direction: column;
    margin: 0 5%;
    flex-basis: 320px;
    flex-grow: 1;
    cursor: pointer;

    .chat {
      display: flex;
      flex-direction: row;
      align-items: center;
      border-bottom: 1px solid #d1d1d1;

      &:hover {
        background-color: #dbdbdbaf;
      }

      .chat-list-userimg {
        margin-left: 10px;
        background-color: #9dbeff;
        width: 50px;
        height: 50px;
        border-radius: 50px;
      }

      .chat-list-mid {
        width: 45%;

        .chat-list-nickname {
          @include font-default(500, 1.125rem);
        }

        .chat-list-overview {
          @include font-default(500, 0.813rem);
          color: #7a7979;
        }
      }

      .chat-list-right {
        width: 30%;
        margin-left: auto;
        margin-right: 0%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .chat-list-lastsaw {
          @include font-default(300, 0.75rem);
          color: #504f4f;
        }

        .unwatched-circle {
          margin-top: 5%;
          width: 18px;
          height: 18px;
          border-radius: 18px;
          background-color: rgb(255, 122, 107);
          display: flex;
          justify-content: center;
          align-items: flex-start;

          .chat-list-unwatched {
            color: white;
            @include font-default(500, 1rem);
            line-height: 16px;
          }
        }
      }
    }
  }

  &::-webkit-scrollbar {
    width: 10px;
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: #c0c0c0;
      border-radius: 10px;
    }
  }

  &::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}
