.chat-detail-container {
  background-color: #fff;
  width: 45%;
  height: auto;
  max-height: 84%;
  border-radius: 10px;
  overflow: auto;
  transition: all 0.5s;

  .chat-detail-top {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    position: sticky;
    top: 0%;
    z-index: 2;
    margin: 0 3%;
    padding: 2% 0;
    border-bottom: 1px solid #d1d1d1;

    .userimg-container {
      width: 40px;
      height: 40px;
      border-radius: 40px;
      background-color: #ffef61;
    }

    .chat-detail-usernickname {
      @include font-default(500, 1.375rem);
    }
  }

  .chat-detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2% 3%;

    .chat-left {
      margin-left: 0;
      margin-right: auto;
    }
    .chat-right {
      margin-right: 0;
      margin-left: auto;
    }

    .chat-yellow,
    .chat-gray {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 3% 0%;
      height: 100%;

      .chat-content {
        @include font-default(300, 0.938rem);
      }

      .userimg-orange {
        align-self: center;
        width: 30px;
        height: 30px;
        background-color: #ff5722;
      }

      .userimg-hidden {
        align-self: center;
        width: 30px;
        height: 30px;
        visibility: hidden;
      }

      .chat-detail-left {
        padding: 5px 10px;
        margin-left: 5px;
      }

      .chat-detail-right {
        padding: 5px 10px;
        margin-left: 5px;
      }
    }
  }

  .chat-yellow {
    .chat-detail-left {
      background-color: #fbf3aa;
      border-radius: 20px;
    }
  }

  .chat-gray {
    .chat-detail-right {
      background-color: #eeeeee;
      border-radius: 20px;
    }
  }

  .send-chat {
    padding: 10px 15px 20px;
    background-color: #fff;
    position: sticky;
    position: -webkit-sticky;
    z-index: 2;
    bottom: 0%;

    .chat-input {
      border: 0;
      border-radius: 10px;

      input {
        padding: 0;
        padding-left: 20px;
      }

      .send-icon {
        padding: 10px;
        padding-right: 5px;
        height: 40;
      }
    }
  }

  &::-webkit-scrollbar {
    width: 10px;
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: #c0c0c0;
      border-radius: 10px;
    }
  }

  &::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}
