.filter-container {
  width: 40%;
  height: 30em;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid #6eb7e9;
  white-space:nowrap;

  .filter-option-title {
    @include font-default(700, 1.2rem);
  }

  .filter-manner-container {
    display: flex;
    width: 100%;
    .filter-manner {
      width: 50%;
      text-align: center;
    }
  }

  .filter-option-container {
    .filter-radio-group {
      display: flex;

      label {
        display: inline-block;
        width: 30%;
      }
    }
  }

  .filter-btn {
    background-color: #6eb7e9;
    @include font-default(600, 1rem);
  }
}
