.loginform-container {
  width: 100%;
  display: flex;
  gap: 20px;
  flex-direction: column;

  .logininput-container {
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
  }

  .loginbutton-container {
    width: 100%;

    .loginbutton {
      width: 100%;
      height: 50px;
    }
  }
}
