.basic-info-container {
  height: 33vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .user-img-container {
    display: flex;
    flex-direction: row;
    margin-right: 5%;

    .info-user-img {
      width: 120px;
      height: 120px;
      cursor: pointer;
    }

    .user-img-edit-btn {
      cursor: pointer;
      align-self: flex-end;
      fill: #a9a6a6;
    }
  }

  .basic-info {
    .user-name-container {
      display: flex;
      flex-direction: row;

      .user-name {
        margin-bottom: 6%;
        font-weight: 600;
      }

      .user-name-input {
        margin-bottom: 3%;
      }

      .edit-btn {
        cursor: pointer;
        margin-left: 3%;
        fill: #585858;
      }
    }

    .description-container {
      .edit-btn {
        float: right;
      }

      .user-dsc {
        font-size: 17px;
        padding: 5px 14px;
        color: #757575;
      }
    }
  }
}
