.post-write-header {
  p {
    @include font-default(700, 1.2rem);
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #a9a9a9;
  }

  .post-write-select-box {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;

    .MuiOutlinedInput-input {
      padding: 0.4rem 0.5rem;
    }

    .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
      top: -0.5rem;
    }

    .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
      border: 0;
    }

    & > span {
      width: 45%;
      height: 100%;
      padding: 0.4rem 0.5rem;
      box-shadow: 0 0 0 1px #a9a9a9 inset;

      &.border {
        display: flex;
        height: 100%;
      }
    }

    input[type='file'] {
      display: none;
    }
  }

  .MuiInputLabel-shrink {
    display: none;
  }
  .notranslate {
    display: none;
  }
}
