// default scss
@import "./base/base";
@import "./base/variable";
@import "./base/mixin";

// components scss
@import "./component/layout";
@import "./component/loginForm";
@import "./component/loginOuterLink";
@import "./component/easyLogin";

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .login-container-box {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 10px;
    margin: 30px 0px;
  }
}

.logo-container {
  width: 40%;
  margin-bottom: 2em;

  .logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
