// default scss
@import './base/base';
@import './base/variable';
@import './base/mixin';

// components scss
@import './component/layout';
@import './component/header';
@import './component/mainBanner';
@import './component/shareCardTab';
@import './component/filter';

.main-container {
  width: 100%;
  display: flex;
  justify-content: space-between;

  @include mobile {
    flex-direction: column-reverse;
  }
}